n8n-workflows/04-lead-intake.json
{
  "name": "Lead Intake (Website Form → Favorble)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lead-intake"
    },
    {
      "parameters": {
        "jsCode": "// Normalize lead data from various form sources\nconst body = $input.first().json.body || {};\nconst lead = {\n  firstName: body.firstName || body.first_name || body.fname || '',\n  lastName: body.lastName || body.last_name || body.lname || '',\n  email: body.email || '',\n  phone: body.phone || body.phoneNumber || body.tel || '',\n  source: body.source || 'website',\n  organizationSlug: body.organizationSlug || 'hogan-smith',\n  intakeData: {\n    state: body.state || null,\n    disabilityType: body.disabilityType || null,\n    onsetDate: body.onsetDate || null,\n    receivedAt: new Date().toISOString(),\n    rawForm: body,\n  },\n};\nreturn [{ json: lead }];"
      },
      "id": "normalize",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://staging-favorble.vercel.app/api/webhooks/zapier",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Lead in Favorble",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'received', leadId: $json.id || null } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [[{ "node": "Normalize Lead Data", "type": "main", "index": 0 }]]
    },
    "Normalize Lead Data": {
      "main": [[{ "node": "Create Lead in Favorble", "type": "main", "index": 0 }]]
    },
    "Create Lead in Favorble": {
      "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
